name: First workFlow

on:
  push:
    branches:
      - main

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: print a welcome message
        run: eche"welcome to our first GitHub Actions workFlow!"


      - name: checkout repostory
        uses: actions/checkout@v6.0.1

      - name: List repository files
        run: ls -la

       
      
